* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

.primary-color {
    color: #FF5400;
}

.secondary-color {
    color: #424247;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

.btn-primary {
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #FF5400;
    padding: 10px 25px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}

.nav-left {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-left h1 {
    font-size: 36px;
    font-weight: 800;
}

.nav-left img {
    width: 48px;
}

.nav-ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-ul li {
    font-size: 18px;
}

.nav-ul li:hover {
    color: #FF5400;
    cursor: pointer;
}

.hero {
    background-image: linear-gradient(rgba(19, 19, 24, 1), rgba(19, 19, 24, 0)),
        url('assets/Group\ 13.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 58%;
    margin: 120px auto 48px auto;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 64px;
    font-weight: 800;
}

.hero p {
    color: white;
}

form {
    display: flex;
    gap: 20px;
}

form input,
form select,
form ::placeholder,
form input[type=date] {
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    padding: 5px;
}

form input,
form select,
form button {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
}

form button {
    background-color: #FF5400;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container {
    width: 795px;
    height: 82px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.popular-tours {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.p-tours-left {
    width: 50%;
    text-align: justify;
}

.p-tours-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.p-tours-right img {
    height: 456.5px;
}

.p-tours-ul {
    margin-left: 20px;
}

.choose-destination {
    margin-top: 100px;
}

.img-1 {
    grid-area: firstImage;
}
.img-2 {
    grid-area: secondImage;
}
.img-3 {
    grid-area: thirdImage;
}
.img-4 {
    grid-area: fourthImage;
}
.img-5 {
    grid-area: fifthImage;
}
.img-6 {
    grid-area: sixthImage;
}
.img-7 {
    grid-area: seventhImage;
}

.destination-gallery img {
    height: 300px;
    width: 100%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.destination-gallery {
    display: grid;
    gap: 24px;
    grid-template-areas: 
    'firstImage firstImage firstImage secondImage secondImage secondImage'
    'thirdImage fourthImage fourthImage fourthImage fourthImage fifthImage'
    'sixthImage sixthImage seventhImage seventhImage seventhImage seventhImage'
    ;
}

.why-choose-us {
    margin-top: 100px;
    margin-bottom: 100px;
}

.handpicked {
    width: 530px;
    height: 280px;
    background-color: rgba(251, 181, 99, 0.1);
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    padding: 32px;
}

.world-class-service {
    width: 530px;
    height: 280px;
    background-color: rgba(41, 206, 246, 0.1);
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    padding: 32px;
}

.best-price {
    width: 530px;
    height: 280px;
    background-color: rgba(233, 68, 68, 0.1);
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    padding: 32px;
}

.why-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.why-cards h4 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 16px;
}

.best-price {
    margin: 13px auto 13px auto;
}

/* responsive media query */

@media screen and (max-width: 1050px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 15px;
    }

    .hero {
        background-size: cover;
        height: 615px;
    }

    .hero-container {
        margin-top: 48px;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .form-container {
        width: 357px;
        height: 150px;
        border-radius: 16px;
        margin-bottom: 0;
    }

    .popular-tours {
        flex-direction: column;
        gap: 0;
    }

    .p-tours-left {
        width: 100%;
    }

    .p-tours-right {
        width: 100%;
    }

    .p-tours-right img {
        width: 100%;
        height: 100%;
        margin: 24px 0 50px 0;
    }

    .destination-gallery {
        display: flex;
        flex-direction: column;
    }

    .why-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .handpicked, .world-class-service, .best-price {
        width: 100%;
    }

    .best-price {
        margin: auto;
    }
}